<div id="<%= dom_id(board) %>" style="text-align: center;">
  <table style="border-collapse: collapse; margin: 0 auto;">
    <thead>
      <tr>
        <th style="border: 1px solid white; padding: 8px;">History String</th>
      </tr>
    </thead>
    <tbody>
      <% board.history_string.split('/').each do |move| %>
        <tr>
          <td style="border: 1px solid white; padding: 8px;"><%= move %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <p>
    <strong>Game name:</strong>
    <%= board.game_name %>
  </p>

  <%= form_with(model: board) do |form| %>
    <% if board.errors.any? %>
      <div style="color: red;">
        <h2><%= pluralize(board.errors.count, "error") %> prohibited this board from being saved:</h2>
        <ul>
          <% board.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% else %>
      <% if flash[:alert].present? %>
        <div style="color: red;">
          <%= flash[:alert] %>
        </div>
      <% end %>
    <% end %>
    <strong>New move:</strong>
    <div class="actions" style="display: flex; justify-content: center; margin-top: 20px;">
      <%= form.text_field :new_move, class: "block-input" %>
      </div>
      <%= form.submit "Add Move", class: "btn btn-secondary" %>
  <% end %>
</div>
