<style>
  .player-details {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .player-details p {
    margin: 0;
    line-height: 1.5;
  }

  .player-details strong {
    font-weight: bold;
    margin-right: 5px;
  }
</style>

<div class="player-details" id="<%= dom_id(player) %>">
  <p>
    <strong>Nickname:</strong>
    <span><%= player.nickname %></span>
    <p>Action:</p>
    <%= link_to "Edit this player", edit_player_path(player), class: "edit-button" %> |
    <%= link_to "Back to players", players_path, class: "back-button", style: "color: white" %>
    <p>&nbsp;</p>
    <%= form_with(model: player, url: player_path(player), method: :delete, data: { confirm: "Are you sure?" }) do |form| %>
      <%= form.submit "Destroy this player", class: "destroy-button" %>
    <% end %>
    <p>&nbsp;</p>
    <p>Press the button to play:</p>
    <%= link_to "Go to boards", boards_path, class: "back-button", style: "color: white" %>
  </p>
</div>




